@media screen and (min-width: 1024px) {

    header {
        display: none;
    }

    #desktop {
        display: flex;
        width: auto;
    }

    .logo {
        display: block;
    }

    nav {
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        top: 0;
        border: none;
        width: auto;
        z-index: 15;
        background-color: transparent;
    }

    nav img {
        display: block;
        width: 7vw;
        min-width: 65px;
        max-width: 100px;
        margin: var(--default-margin);
    }

    .hidden {
        display: block;
        visibility: hidden;
    }

    .display-none {
        display: block;
    }

    /* Code sourced and adapted from:
    https://stackoverflow.com/questions/44446671/my-position-sticky-element-isnt-sticky-when-using-flexbox
     */
    nav ul {
        align-self: flex-start;
    }

    nav ul li a {
        font-size: 100%;
        transition: .6s;
        opacity: .4;
    }

    nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
        color: var(--color-orange);
        opacity: 1;
        transform: scale(1.8) translateX(21%);
    }

    /* ---------------------------------------------------------------
    Main Section
    --------------------------------------------------------------- */
    /* Code sourced and adapted from:
    https://stackoverflow.com/questions/37745051/fill-the-remaining-height-or-width-in-a-flex-container
     */
    .main {
        flex: 1;
    }

    h1 {
        font-size: 11rem;
    }

    h2 {
        display: none;
    }

    section {
        min-height: 70vh;
        display: flex;
        align-content: center;
        justify-content: center;
        gap: 50px;
    }

    .flex {
        display: flex;
        gap: 50px;
        max-width: 800px;
        margin: 0 auto;
        overflow: auto;
        align-self: center;
        justify-self: center;
    }

    #backToTop {
        visibility: hidden;
    }

    /* ---------------------------------------------------------------
   About Section
   --------------------------------------------------------------- */
    #about img {
        position: absolute;
        order: 1;
        align-self: center;
        left: 50.1%;
        bottom: 30%;
        width: 40vw;
        height: 60vh;
        opacity: .4;
        transition: 1s;
        z-index: 3;
    }

    #about img:hover {
        opacity: 1;
        transform: scale(1.1) translateY(2%) translateX(-20%);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #about article h1 {
        padding: 0;
    }

    #about article p {
        padding-left: 0;
    }

    #about span {
        padding: 0;
    }

    .button {
        margin-left: 0;
    }


    /* ---------------------------------------------------------------
    Gallery Section
    --------------------------------------------------------------- */
    /* Code  sourced and adapted from:
    https://www.w3schools.com/css/css_grid.asp
     */
    #gallery {
        padding-right: 0;
    }

    .gallery {
        grid-template-columns: auto auto auto auto;
        align-content: center;
        justify-content: center;
        width: 100%;
        max-width: 900px;
        margin-left: auto;
    }

    .gallery div img {
        height: 220px;
        width: 100%;
    }

    /* Code sourced and adapted from:
    https://www.w3schools.com/css/css3_shadows_box.asp
    */
    .gallery div img:hover {
        transform: scale(1.08);
        position: relative;
        z-index: 200;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .corner-img {
        border-right-width: 0 !important;
    }

    /* ---------------------------------------------------------------
    Booking Section
    --------------------------------------------------------------- */
    #booking {
        background-color: whitesmoke;
    }


    #booking div {
        flex-direction: column;
    }

    form > div {
        display: flex;
        flex-direction: row !important;
        width: 100%;
        gap: 50px;
    }

    .personal-details {
        flex: 1 1 0;
    }

    .personal-preferences {
        flex: 1 1 0;
    }

    form [type=submit] {
        align-self: center;
        margin: var(--default-margin);
    }


    /* ---------------------------------------------------------------
    Contact Section
    --------------------------------------------------------------- */
    /* Code sourced and adapted from:
    https://stackoverflow.com/questions/29503227/how-to-make-flexbox-items-the-same-size
    */
    #contact {
        flex-direction: column;
    }

    #contact > div {
        flex-direction: row;
    }

    #contact div article {
        align-self: center;
        flex: 1 1 0;
        order: 1;
    }

    #map {
        align-self: center;
        flex: 1 1 0;
        order: 2;
        margin-bottom: 0;
    }

    /* ---------------------------------------------------------------
    Footer
    --------------------------------------------------------------- */
    footer a {
        display: none;
    }
}