@font-face {
    font-family: "CormorantGaramond Light";
    src: url("../assets/fonts/CormorantGaramond-Light.ttf");
}

@font-face {
    font-family: "CormorantGaramond Regular";
    src: url("../assets/fonts/CormorantGaramond-Regular.ttf");
}

@font-face {
    font-family: "CormorantGaramond Medium";
    src: url("../assets/fonts/CormorantGaramond-Medium.ttf");
}

@font-face {
    font-family: "CormorantGaramond SemiBold";
    src: url("../assets/fonts/CormorantGaramond-SemiBold.ttf");
}

@font-face {
    font-family: "CormorantGaramond Bold";
    src: url("../assets/fonts/CormorantGaramond-Bold.ttf");
}

@keyframes gallery-img {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.4);
    }

}

* {
    margin: 0;
    padding: 0;
}

:root {
    --color-yellow: #F2CC8F;
    --color-green: #81B29A;
    --color-blue: #3D405B;
    --color-orange: #E07A5F;
    --color-gray-primary: #F1F2F6;
    --color-gray-secondary: #D9D9D9;

    --default-padding: 1rem;
    --default-margin: 1rem;
    --primary-padding: 0.5rem;
    --primary-margin: 0.5rem;
    --secondary-padding: 2rem;
    --secondary-margin: 2rem;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

/* ---------------------------------------------------------------
   Navigation Menu
   Code sourced and adapted from:
   https://www.w3schools.com/howto/howto_js_mobile_navbar.asp
   https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_mobile_navbar
   --------------------------------------------------------------- */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.empty {
    font-size: 150%;
    margin: var(--default-margin);
    visibility: hidden;
}

header img {
    width: 10vw;
    min-width: 65px;
    max-width: 100px;
    margin: var(--default-margin);
}

header div.icon {
    font-size: 150%;
    margin: var(--default-margin);
}

i.fa-bars, i.fa-close {
    color: black;
}

i.fa-bars:hover, i.fa-close:hover {
    color: var(--color-yellow);
}

#closeIcon {
    display: none;
}

nav {
    position: absolute;
    width: 100%;
    display: none;
    border-bottom: 0.5px var(--color-yellow) solid;
    background-color: white;
}

#logo {
    display: none;
}

ul {
    list-style: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav ul li {
    margin: 0 var(--default-margin);
}

nav span {
    display: none;
}

/* Code sourced and adapted from:
 https://stackoverflow.com/questions/39248337/make-anchor-tag-size-to-its-div-content
 */

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 400%;
    width: 100%;
    padding: var(--default-padding) 0;
}

nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
    color: var(--color-yellow);
}

nav.responsive {
    display: flex;
}

/* ---------------------------------------------------------------
   Main Sections
   --------------------------------------------------------------- */

#backToTop {
    display: none;
}

#backToTop a {
    position: fixed;
    top: 90vh;
    left: 80vw;
    font-size: 300%;
    border-radius: 50px;
    z-index: 1;
}

main img {
    margin-bottom: var(--default-margin);
}

i.fa-arrow-circle-up {
    color: var(--color-gray-secondary);
    opacity: 0.5;
    transition-duration: 0.5s;
}

i.fa-arrow-circle-up:hover, i.fa-arrow-circle-up:active, i.fa-arrow-circle-up:focus {
    color: var(--color-yellow);
    opacity: 1;
}

section {
    padding: var(--default-padding);
}

h1 {
    font-size: 12vw;
}

h2 {
    display: none;
}

h3 {
    padding: var(--default-padding) 0;
    font-weight: 400;
}

p {
    line-height: 2;
}

/* ---------------------------------------------------------------
   About Section
   --------------------------------------------------------------- */

#about {
    padding: 0;
}

/* Code sourced and adapted from:
https://www.w3schools.com/csS/css3_object-fit.asp
 */

#about img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

#about article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about article h1 {
    padding-top: var(--default-padding);
}

#about article p {
    padding: var(--default-padding);
}

.button {
    width: 150px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    border: 0.5px var(--color-gray-secondary) solid;
    border-radius: 4px;
    padding: var(--primary-padding);
    margin-bottom: var(--default-margin);
    transition-duration: 0.5s;
    opacity: 0.7;
}

.button:hover, .button:active, .button:focus {
    background-color: var(--color-yellow);
    border: 0.5px var(--color-yellow) solid;
    opacity: 1;
}

/* ---------------------------------------------------------------
   Gallery Section
   --------------------------------------------------------------- */

.gallery {
    display: flex;
    flex-direction: column;
}

.gallery div img {
    height: 350px;
    opacity: .6;
    width: 100%;
    border: 0.5px white solid;
    object-fit: cover;
    transition: 1s;
}

.gallery div img:hover {
    opacity: 1;
    border: 0.5px var(--color-gray-secondary) solid;
    transform: scale(1.09);
    position: relative;
    z-index: 200;
}

.corner-img {
    border-right-width: 0 !important;
}

/* ---------------------------------------------------------------
   Booking Section
   --------------------------------------------------------------- */

#booking {
    background-color: var(--color-gray-primary);
}

section article {
    padding-bottom: var(--default-padding);
}

form {
    display: flex;
    flex-direction: column;
}

form fieldset {
    display: flex;
    flex-direction: column;
}

form fieldset label {
    padding-bottom: var(--primary-padding);
    font-size: 85%;
}

fieldset {
    border-width: 0;
}

/* Code sourced and adapted from:
 https://stackoverflow.com/questions/18085053/scss-css-selector-to-select-all-input-types
 */

form fieldset [type=text], form fieldset [type=email], form fieldset [type=tel], form fieldset [type=date], form fieldset textarea {
    padding: var(--primary-padding);
    margin-bottom: var(--default-margin);
    border: 1px var(--color-gray-secondary) solid;
    border-radius: 4px;
    transition-duration: 0.5s;
}

/* Code sourced and adapted from:
https://stackoverflow.com/questions/16156594/how-to-change-border-color-of-textarea-on-focus
 */

form [type]:focus, form textarea:focus {
    outline: none;
    border: 1px var(--color-yellow) solid;
}

form [type=submit] {
    cursor: pointer;
    background-color: white;
    border: 0.5px var(--color-gray-secondary) solid;
    border-radius: 4px;
    padding: var(--primary-padding) 6rem;
    transition-duration: 0.5s;
    margin: var(--default-margin) 0;
}

form [type=submit]:hover, form [type=submit]:active, form [type=submit]:focus {
    background-color: var(--color-yellow);
    border: 0.5px var(--color-yellow) solid;
}

/* ---------------------------------------------------------------
   Contact Section
   --------------------------------------------------------------- */

#map {
    width: 100%;
    max-height: 1000px;
    min-height: 500px;
    border: 0.5px var(--color-blue) solid;
    border-radius: 4px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 20px;
    margin-top: var(--default-margin);
}

.contact-details a {
    text-decoration: none;
    color: black;
}

.contact-details a:hover, .contact-details a:active, .contact-details a:focus {
    color: var(--color-yellow);
}

/* ---------------------------------------------------------------
   Footer
   --------------------------------------------------------------- */

footer {
    position: relative;
    display: flex;
    padding: var(--default-padding);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

footer img {
    width: 90px;
    margin: var(--default-margin);

}

footer span {
    font-size: 0.5rem;
}