@font-face {
    font-family: "CormorantGaramond Light";
    src: url("../assets/fonts/CormorantGaramond-Light.ttf");
}

@font-face {
    font-family: "CormorantGaramond Regular";
    src: url("../assets/fonts/CormorantGaramond-Regular.ttf");
}

@font-face {
    font-family: "CormorantGaramond Medium";
    src: url("../assets/fonts/CormorantGaramond-Medium.ttf");
}

@font-face {
    font-family: "CormorantGaramond SemiBold";
    src: url("../assets/fonts/CormorantGaramond-SemiBold.ttf");
}

@font-face {
    font-family: "CormorantGaramond Bold";
    src: url("../assets/fonts/CormorantGaramond-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-gray-primary: #F1F2F6;
    --color-gray-secondary: #D9D9D9;
    --color-green: #3C6E71;
    --default-padding: 1rem;
    --default-margin: 1rem;
    --primary-padding: 0.5rem;
    --primary-margin: 0.5rem;
    --secondary-padding: 2rem;
    --secondary-margin: 2rem;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-white);
    font-size: 1rem;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

/* ---------------------------------------------------------------
   Navigation Menu
   Code sourced and adapted from:
   https://www.w3schools.com/howto/howto_js_mobile_navbar.asp
   https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_mobile_navbar
   --------------------------------------------------------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
}

header img {
    width: 10vw;
    min-width: 65px;
    max-width: 100px;
    margin: var(--default-margin);
}

header div.icon {
    font-size: 150%;
    margin: var(--default-margin);
}

i.fa-bars, i.fa-close {
    color: var(--color-black);
}

i.fa-bars:hover, i.fa-close:hover {
    color: var(--color-green);
}

#closeIcon {
    display: none;
}

nav {
    display: none;
    border-bottom: 0.5px var(--color-green) solid;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav ul li {
    margin: 0 var(--default-margin);
}

/* Code sourced and adapted from:
 https://stackoverflow.com/questions/39248337/make-anchor-tag-size-to-its-div-content
 */

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-black);
    font-size: 400%;
    font-family: "CormorantGaramond Medium", serif;
    width: 100%;
    padding: var(--default-padding) 0;
}

nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
    color: var(--color-green);
}

nav.responsive {
    display: flex;
}

/* ---------------------------------------------------------------
   Main Sections
   --------------------------------------------------------------- */

#backToTop {
    display: none;
}

main div a {
    position: fixed;
    top: 90%;
    left: 78%;
    font-size: 300%;
    border-radius: 50px;
    z-index: 1;
}

i.fa-arrow-circle-up {
    color: var(--color-black);
    opacity: 0.2;
    transition-duration: 0.5s;
}

i.fa-arrow-circle-up:hover, i.fa-arrow-circle-up:active, i.fa-arrow-circle-up:focus {
    color: var(--color-green);
    opacity: 1;
}

section {
    min-height: 100vh;
    padding: var(--default-padding);
}

h2 {
    font-family: "CormorantGaramond Medium", serif;
    font-size: 400%;
    padding-bottom: var(--default-padding);
}

/* ---------------------------------------------------------------
   Bookings Section
   --------------------------------------------------------------- */

#bookings {
    background-color: var(--color-gray-primary);
}

section article {
    padding-bottom: var(--default-padding);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    padding-bottom: var(--primary-padding);
    font-size: 85%;
}

/* Code sourced and adapted from:
 https://stackoverflow.com/questions/18085053/scss-css-selector-to-select-all-input-types
 */

form [type=text], form [type=email], form [type=tel], form [type=date], form textarea {
    padding: var(--primary-padding);
    margin-bottom: var(--default-margin);
    border: 1px var(--color-gray-secondary) solid;
    border-radius: 4px;
    transition-duration: 0.5s;
}

/* Code sourced and adapted from:
https://stackoverflow.com/questions/16156594/how-to-change-border-color-of-textarea-on-focus
 */

form [type]:focus, form textarea:focus {
    outline: none;
    border: 1px var(--color-green) solid;
}

form [type=submit] {
    cursor: pointer;
    background-color: var(--color-white);
    border: 0.5px var(--color-green) solid;
    border-radius: 4px;
    padding: var(--primary-padding);
    transition-duration: 0.5s;
    opacity: 0.7;
}

form [type=submit]:hover, form [type=submit]:active, form [type=submit]:focus {
    background-color: var(--color-green);
    color: var(--color-white);
    opacity: 1;
}

/* ---------------------------------------------------------------
   Footer
   --------------------------------------------------------------- */

footer {
    height: 350px;
}