@media screen and (min-width: 360px) {

    /* ---------------------------------------------------------------
    Main Section
    --------------------------------------------------------------- */
    #backToTop a {
        top: 85vh;
        left: 85vw;
    }

    /* ---------------------------------------------------------------
   About Section
   --------------------------------------------------------------- */
    #about img {
        height: 50vh;
    }

    /* ---------------------------------------------------------------
    Gallery Section
    --------------------------------------------------------------- */
    .gallery {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: var(--default-padding);
    }

    .gallery div img {
        margin-bottom: 0;
        height: 280px;
    }

}